<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bookManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63AFF20B1D226A380049AE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63AFF2241D226A380049AE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63AFF22F1D226A380049AE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
